<script>
// var socket = io();
// // socket.on("expiry", function(){
// //   console.log("duh");
// // });
</script>
<footer class="primary-footer container">
  <div class="col-md-4">
    <small>&copy; P'Max Tutor</small>
  </div>
	<div class="col-md-4 social">
		<p>follow us:</p>
		<a href="https://www.facebook.com/pmaxtutor/">
		<img src="/assets/images/facebook.png"></a>
		<a href="https://www.youtube.com/channel/UCZVvAuQ0nkwVrGz7UGpMaeg/videos">
		<img src="/assets/images/youtube.png"></a>
		<a href="https://www.facebook.com/pmaxtutor/">
		<img src="/assets/images/instagram.png"></a>
	</div>
	<nav class="col-md-4" id="footer-nav">
	<ul>
		<li><a href="index.html">Home</a></li><!--
		--><li><a href="courses.html">Courses</a></li><!--
		--><li><a href="register.html">Enroll</a></li><!--
		--><li><a href="videos.html">Videos</a></li><!--
		--><li><a href="aboutme.html">About</a></li>
	</ul>
	</nav>
</footer>
</html>
