<% include ../partials/header %>
    <div class="container">
      <div class="form-group buy-and-checkout">
        <form action="/courses/checkout" method="POST">
            <ul>
              <% user.cartCourses.forEach((course) => { %>
                  <li><strong><%= course.title %></strong> - <%= course.price %> Baht</li>
                  <input type="hidden" name="checkedCourses" value="<%= course._id %>">
              <% }); %>
            </ul>
            <button class="btn btn-success">Checkout</button>
        </form>
      </div>
    </div>
<% include ../partials/footer %>
