<% include ../partials/header %>
    <form action="/courses/checkout" method="POST">
        <% user.cartCourses.forEach((course) => { %>
            <li><strong><%= course.title %></strong> - <%= course.price %> Baht</li>
            <input type="hidden" name="checkedCourses" value="<%= course._id %>">
        <% }); %>
        <button class="btn btn-success">Checkout</button>
    </form>
<% include ../partials/footer %>
