<% include ../partials/header %>
    <form action="/<%= course.code %>/extend" method="POST">
        <% parts.forEach((part) => { %>
            <label><%= part.title %></label><input type="checkbox" name="selectedParts" value="<%= part._id.toString() %>">
        <% }); %>
        <label>Extend All</label><input type="checkbox" id="checkAllRadios">
        <button class="btn btn-success">Extend Now</button>
    </form>
<% include ../partials/footer %>
