body {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}
.thumbnail>img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.thumbnail {
    padding: 0;
    border: none;
    box-shadow: 1px 1px 15px #cccccc;
}
.row {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
div.col-sm-4 {
    padding: 20px;
}
div.col-sm-4>img {
    width: 100%;
}
#regular-form {
    width: 50%;
    margin: 0 auto;
}
#regular-form textarea {
    height: 10em;
}
#form-header {
    text-align: center;
}
.modal-content {
    width: 80%;
    margin: 0 auto;
}
#show-courses {
    padding-top: 30px;
    padding-bottom: 30px;
}
#aside-show-courses .btn {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 3em;
    font-size: 1.5rem;
}
#aside-show-courses h2 {
    padding: 0 0 10px 10px;
    text-align: center;
    color: black;
    font-weight: 700;
}
#aside-show-courses .container {
    position: absolute;
    right: 2px;
    top: 5px;
    width: 90%;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ababab;
}
#aside-show-courses .col-sm-4 {
    margin: 0 auto;
}
#aside-show-courses .inner p {
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
#aside-show-courses h5 {
    color: black;
}
.jumbotron {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: antiquewhite;
}
.jumbotron p {
    line-height: 2em;
}
#show-courses p {
    padding-left: 30px;
    padding-top: 15px;
    font-size: 1.9rem;
    font-weight: 300;
    color:white;
}
#show-courses h1 {
    font-size: 5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #929292;
}
.list-group.affix {
    top: 100px;
    width: 15%;
}
.inner.affix {
    top: 100px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ababab;
    width: 26%;
}
.hidden {
    display:none;
}

.invisible {
    visibility: hidden;
}

a.thumbnail:hover {
    box-shadow: 0px 0px 10px #999999;
}

a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.thumbnail p {
   text-indent: 20px;
   font-weight: 300;
   font-family: 'Kanit'
}
#thai-description {
  text-indent: 20px;
  font-weight: 300;
  font-family: 'Kanit'
}
p > span {
  float: right;
  text-indent: 0px;
  font-weight: 400;
  font-size: 1.25em;
  color: #527fef;
}

#logo img {
  width: 50px;
  height: 50px;
}

.primary-header img {
	width: 100%;
}

a.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.navbar-default .navbar-brand {
  color: #1668BA;
}

.navbar-brand span {
  font-weight: 700;
}

.primary-footer a {
	padding: 3px;
}

.primary-footer a:hover {
}

.primary-footer {
	font-size: 14px;
	padding-top: 44px;
	padding-bottom: 44px;
}

.primary-footer small {
	float: left;
	font-weight: 400;
  padding-right: 20%;
}

.social p {
	display: inline;
	float: left;
}

.social img {
	height: 40px;
	display: inline;
	float:left;
	padding-left: 5px;
	padding-right: 5px;
}

.social {
  float:left;
}

#footer-nav {
	text-align: right;
}
#footer-nav li {
	display: inline-block;
	vertical-align: top;
}

#footer-nav li:last-child {
	margin-right: 0;
}

#course-list .col-md-4 {
  padding-top: 40px
}

.panel-default>.panel-heading {
  background-color: #F9F9F9;
}

a[role="button"] span {
  padding-left: 5px;
  font-size: 15px;
  font-weight: 400;
}

a[role="button"] > i.fa-plus {
  font-size: 10px;
  color: #1376D7;
}

a[role="button"] > i.fa-minus {
  font-size: 12px;
  color: #1376D7;
}

.part-length {
  font-size: 14px;
  padding-left: 10%;
  font-weight: 400;
  float: right;
}

.part-duration {
  font-size: 14px;
  padding-left: 10%;
  font-weight: 400;
  float: right;
}

.panel-heading {
  padding: 15px;
  padding-left: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

.dropup:hover .dropdown-menu {
     display: block;
     margin-bottom: 0; // remove the gap so it doesn't close
}

.dropdown a.striked {
  text-decoration: line-through;
  color: #bbbbbb;
}

.intro-video {
  width: 95%;
}

.intro-course a {
  padding: 16px 18px;
  margin: 20px 0;
}

.intro-course a.btn {
  font-size: 16px;
  border-radius: 3px;
}

.intro-course .progress-caption {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.flexthis.container:before,
.flexthis.container:after,
.flexthis.row:before,
.flexthis.row:after {
   content: normal; // IE doesn't support `initial`
}

.highlight {
  color: #fff;
}

.highlight div {
  background-color: #377bb5;
}

div.panel-heading:hover {
  background-color: #ebebeb;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

div.panel-body:hover {
  background-color: #f9f9f9;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.highlight div.panel-body:hover {
  background-color: #377cc5;
  color: #fff;
}

.panel p {
  margin: 0;
}

@media all and (max-width: 768px) {
  #aside-show-courses .container {
      position: relative;
      margin: 0 auto;
  }
  .affix {
      position: static;
  }
  div.inner.affix {
      width: 100%;
  }
}

.chosen-image:hover {
  cursor: pointer;
}

.fade {
  opacity: 0.5;
}

.check-on-image {
  position: absolute;
  top: 3px;
  left: 20px;
  color: #3de822;
  z-index: 99;
  text-shadow: 1px 1px 5px #333333;
}
