.videoControls {
  width: 100%;
  font-size: 20px;
}
.videoControls span, .videoControls div {
  display: inline-block;
  color: #999;
}

.btnFullscreen, .btnMute, .btnPlay  {
  color: #999;
}

.videoFullscreen, .videoPlay, .videoMute, .videoOptions {
  text-align: center;
  width: 5%;
}

.videoTime {
  text-align: center;
  width: 9%;
  font-size: 15px;
}

.videoSeekBar {
  width: 89%;
}

.videoVolumeBar {
  width: 10%;
}

glyphicon:hover {
  color: #555;
}

.videoControls {
  position: absolute;
  background:#000;
  z-index:999;
  bottom: 0%;
}
