<% include ../partials/header %>
    <h1>All Users</h1>
    <ul>
        <% users.forEach((user) => { %>
            <li>
              <a href="/users/<%= user._id.toString() %>"><%= user.username %></a>
            </li>
        <% }); %>
    </ul>
    <a href="users/new">Sign Up New User</a>
<% include ../partials/footer %>
