<% include ../partials/header %>
    <h1>Sign Up User Manually</h1>
    <form action="/users" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Add User</button>
    </form>
<% include ../partials/footer %> 